/* IMPOSTAZIONI GENERALI */

/* HEADER */

/* MAIN */

/* ELEMENTI NEL MAIN - ARTICLE */

/* TABELLE */

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */

body {
    background-image: url(sfondo.png);
}

#logo-epicode {
        width: 230px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-top: 20px;
    }

header {
    margin-left: 25px;
    margin-right: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    background: rgba(132,188,241,1);
background: -moz-linear-gradient(top, rgba(132,188,241,1) 0%, rgba(53,117,181,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(132,188,241,1)), color-stop(100%, rgba(53,117,181,1)));
background: -webkit-linear-gradient(top, rgba(132,188,241,1) 0%, rgba(53,117,181,1) 100%);
background: -o-linear-gradient(top, rgba(132,188,241,1) 0%, rgba(53,117,181,1) 100%);
background: -ms-linear-gradient(top, rgba(132,188,241,1) 0%, rgba(53,117,181,1) 100%);
background: linear-gradient(to bottom, rgba(132,188,241,1) 0%, rgba(53,117,181,1) 100%);
}

header h1, .menù {
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 22px;
}

header ul {
    list-style-type: none;
}

h2 {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 549;
    font-size: 40px;
}

main {
    background-color: white;
    margin-left: 25px;
    margin-right: 25px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    padding-bottom: 20px;
}

h2 + p {
    color: grey;
    font-size: 15px;
}

.grey {
    border-radius: 5px;
    background-color: rgb(208, 205, 205);
    border: 1px solid grey
}

.p-text {
    color:rgb(156, 46, 110);
}

hr {
    border:1px solid rgba(0, 0, 255, 0.483);
    margin-bottom: 0px;
}

.p-href {
    color:rgba(21, 88, 170, 0.623);
}

.last {
    background-color: rgb(221, 220, 220);
    padding-top: 5px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    margin-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

footer {
background: rgba(36,73,87,1);
background: -moz-linear-gradient(45deg, rgba(36,73,87,1) 0%, rgba(87,155,184,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(36,73,87,1)), color-stop(100%, rgba(87,155,184,1)));
background: -webkit-linear-gradient(45deg, rgba(36,73,87,1) 0%, rgba(87,155,184,1) 100%);
background: -o-linear-gradient(45deg, rgba(36,73,87,1) 0%, rgba(87,155,184,1) 100%);
background: -ms-linear-gradient(45deg, rgba(36,73,87,1) 0%, rgba(87,155,184,1) 100%);
background: linear-gradient(45deg, rgba(36,73,87,1) 0%, rgba(87,155,184,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#244957', endColorstr='#579bb8', GradientType=1 );
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 15px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

iframe {
    border-radius: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
}

#sign-in {
    background-color: rgba(0, 0, 255, 0.483);
    color: white;
}

#email {
    color:rgb(237, 46, 224);
}

.title {
    text-align: center;
}

.date {
    text-align: end;
    font-size: 12px;
}

i {
    padding-right: 5px;
    padding-left: 5px;
}

#table {
    background-color: rgba(0, 0, 255, 0.483);
    color: white;
}

.color {
    padding-top: 30px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.grey-table {
    background-color: rgb(243, 239, 239);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.white-table {
    text-align: center;
}

.link {
    color:
}

#email {
    border-bottom: dashed rgb(3, 29, 3);
}